    <label for="label"></label>
</h3>
<h3 align="left">
      <label for="label"><strong>Importante</strong>
Sua gráfica está cadastrada, porém é necessário definir os parametros da gráfica além do cadastro de máquinas, papeis, processos e tipos de orçamentos. <br> <br>Para Sua comodidade estes dados são preenchidos com valores padrão, porém o valor que será exibido no site é gerado com base nestes dados, portante é de sua responsabilidade alterá-los. <br><br>
Em até 48 horas os dados da sua gráficas serão validados e quando for constatado que são verdadeiros, os preços de seus impressos estarao disponíveis a todos os usuários do Busca Impresso<br><br>
Os dados a serem preenchidos estão no menu lateral.</a></label>
<br />
