    <label for="label"></label>
</h3>
<h3 align="left">
      <label for="label"><strong>BuscaImpresso.com</strong>      é
      um sistema web para cotação de preços na indústria gráfica que
      tem como missão integrar pessoas que
      buscam bons preços e qualidade em impressos, às empresas que atuam
      no setor gráfico, que através do site tem uma <a href="%5D">ferramenta
      que permite gerenciar processos comerciais e também disponibilização de
      orçamentos de forma on-line</a>.</label>
      <br />
</h3>
<p align="left"><img src="images/ImagemSlogan.jpg" height="93" width="430" /></p>
<h3 align="left">Agora você terá acesso, através de nossas
consultas, à valores, formatos, cores e as demais características de seu
impresso. Tudo sem preocupar-se com aspectos técnicos e sem ter que aguardar
  contato dos fornecedores.</h3>
  <h2 align="left"><strong><font color="#ff9900">
<a href="/usuario/edit"><img src="images/2rightarrow.png" align="left" height="31" width="31" />&nbsp; Registre-se
agora, gratuitamente !</a></font></strong></h2>